<h3>Create a new bucket list item:</h3>

<form action="/items" method="post">
  <p>Item Title: <input type="text" name="title"></p>
  <p>Item Description: <input type="text" name="content"></p>
  <input type="submit" value="Create Bucket List Item">
 </form>
