<form method="post" action="/items/<%=@item.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Edit Title:</h3>
  <input type="text" name="title" value="<%=@item.title%>"> </p>
  <h3>Edit Description:</h3>
  <input type="text" name="content" value="<%=@item.content%>"> </p>
  <input type="submit" value="Edit Item">
</form>
<p><a href="/items"><button type="button">See Entire Bucket List</button></a></p>
