<h1>Hello! Welcome to My Bucket List!</h1>

<h3>Create, edit, update, and delete your very own bucket list in this application.</h3>


<p><a href="/login"><button type="button">log In</button></a></p>
<p><a href="/signup"><button type="button">Sign Up</button></a></p>
